@model BiscuitChief.Models.Recipe

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="RecipeHeading">
        <div class="Title">
            @ViewBag.Title
        </div>
    </div>
    
    <div class="RecipeForm">
        <div class="FormSection">
            Recipe Details
        </div>
        <ul class="FormFields">
            <li>
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </li>
            <li>
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @rows = 3, @cols = "", style="width: 600px; max-width: 100%;" })
                @Html.ValidationMessageFor(model => model.Description)
            </li>
        </ul>

        <div class="FormSection">
            Ingredients
        </div>
        <div id="IngredientsForm">
            @Html.Partial("PartialViews/CreateIngredientList", Model)
        </div>

        <div class="FormSection">
            Directions
        </div>
        <div id="DirectionsForm">
            @Html.Partial("PartialViews/CreateDirectionList", Model)
        </div>

        <hr/>
        <div style="text-align:center;">
            <input id="btnSave" type="button" value="Save" style="width: 60px;" />
            <input id="btnCancel" type="button" value="Cancel" style="margin-left:40px; width:60px;" />
        </div>
</div>

    <script language="javascript" type="text/javascript">
        $(document).ready()
        {
            $("[id^=IngredientList][id$=DisplayType]").children("option:contains(Direction)").remove(); //Remove Directions option from Ingredients
            $("[id^=IngredientList][id$=Quantity][value=0]").val(""); //Set zero quantities to blank

            $("[id^=DirectionList][id$=DisplayType]").children("option:contains(Ingredient)").remove();

            $("#btnSave").click(SaveRecipe);
        }

        function SaveRecipe()
        {
            $("form").submit();
        }
    </script>
}
