@model BiscuitChief.Models.Recipe

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="RecipeHeading">
        <div class="Title">
            @ViewBag.Title
        </div>
    </div>
    
    <div class="RecipeForm">
        <div class="FormSection">
            Recipe Details
        </div>
        <ul class="FormFields">
            <li>
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </li>
            <li>
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @rows = 3, @cols = "", style="width: 600px; max-width: 100%;" })
                @Html.ValidationMessageFor(model => model.Description)
            </li>
        </ul>

        <div class="FormSection">
            Ingredients
        </div>
        <ul class="FormFields">
            @for (int i = 0; i < Model.IngredientList.Count; i++)
            {
                <li>
                    @Html.HiddenFor(item => Model.IngredientList[i].IngredientID)
                    @Html.LabelFor(item => Model.IngredientList[i].IngredientName)
                    @Html.TextBoxFor(item => Model.IngredientList[i].IngredientName, new { @style = "margin-right:30px;" })
                    
                    @Html.LabelFor(item => Model.IngredientList[i].DisplayType)
                    @Html.EnumDropDownListFor(item => Model.IngredientList[i].DisplayType)
                    <div>@Html.ValidationMessageFor(item => Model.IngredientList[i].IngredientName)</div>
                </li>
                <li>
                    @Html.LabelFor(item => Model.IngredientList[i].Quantity)
                    @Html.TextBoxFor(item => Model.IngredientList[i].Quantity, new { @style = "margin-right:30px;" })

                    @Html.LabelFor(item => Model.IngredientList[i].UnitOfMeasure)
                    @Html.TextBoxFor(item => Model.IngredientList[i].UnitOfMeasure)

                   <div>@Html.ValidationMessageFor(item => Model.IngredientList[i].Quantity)</div>
               </li>
                <li class="Seperator">
                    @Html.LabelFor(item => Model.IngredientList[i].Notes)
                    @Html.TextBoxFor(item => Model.IngredientList[i].Notes, new { @style = "width: 455px; max-width: 100%;" })
                </li>
            }
        </ul>

        <div class="FormSection">
            Directions
        </div>
        <ul class="FormFields">
            @for (int i = 0; i < Model.DirectionList.Count; i++)
            {
                <li>
                    @Html.LabelFor(item => Model.DirectionList[i].DisplayType)
                    @Html.EnumDropDownListFor(item => Model.DirectionList[i].DisplayType)
                </li>
                <li class="Seperator">
                    @Html.LabelFor(item => Model.DirectionList[i].DirectionText)
                    @Html.TextAreaFor(item => Model.DirectionList[i].DirectionText, new { @rows = 3, @cols = "", style = "width: 600px; max-width: 100%;" })
                </li>
            }
        </ul>
</div>

    <script language="javascript" type="text/javascript">
        $(document).ready()
        {
            $("[id^=IngredientList][id$=DisplayType]").children("option:contains(Direction)").remove();
            $("[id^=IngredientList][id$=Quantity][value=0]").val("");

            $("[id^=DirectionList][id$=DisplayType]").children("option:contains(Ingredient)").remove();
        }
    </script>
}
